*{
    box-sizing: border-box;
}
body{
    background:black;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:20px;
}
.container{
    background:rgb(33, 33, 33);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:15px 0;
    width:90%;
    max-width:300px;
}
img{
    width:150px;
    border-radius:100%;
}
.text{
    text-align:center;
    color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:5px;
}
.headline{
    color:lightgreen;
}
section{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
section p{
    padding:20px 0;
    background:rgb(104, 104, 104);
    border-radius:10px;
    width:80%;
    margin:5px 0;
}
section p:hover{
    background-color:rgb(190, 245, 106)
}
.attribution{
    color:white;
}